# =========================
# Backend API
# =========================
VITE_API_URL=http://localhost:8000

# =========================
# Firebase Configuration
# =========================
VITE_FIREBASE_API_KEY=AIzaSyDvCeE9-Lz3IagSrnEfzvwfEK3JXysuD-w
VITE_FIREBASE_AUTH_DOMAIN=microproject2-7ac7e.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=microproject2-7ac7e
VITE_FIREBASE_STORAGE_BUCKET=microproject2-7ac7e.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=896381780535
VITE_FIREBASE_APP_ID=1:896381780535:web:85e7026f071ea2b4d2f5b2